/* Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-light: #F2F2F2;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-dark-brown: #503E33;
  --basic-gray: #EEEEEE;
  --basic-extra-gray: #EBEBEB;
  --basic-border: #E5E5E5;
  --basic-shadow: rgba(0, 1, 1, 0.2);
  --basic-active-button: rgba(255, 255, 255, 0.3);
  --basic-shadow-appointment: rgba(0, 1, 1, 0.15);
  --basic-main-footer: rgba(255, 255, 255 , 0.9);
  --basic-range-toggle: #ababab;
  --basic-range-toggle-shadow: rgba(0, 1, 1, 0.2);
  --basic-footer-copyright: #BDBBBC;
}

/* Global */

@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans-Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog {
  align-content: start;
}

/* Main header */

.inner-page .main-header {
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  margin: 0px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

.button-detail,
.button-bye {
  width: 110px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-bye {
  background-color: var(--basic-brown);
  width: 142px;
}

.button-detail:link {
  background-color: var(--basic-blue);
}

.button-detail:hover {
  background-color: var(--basic-dark-blue);
}

.button-detail:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--basic-active-button);
}

.button-bye:link {
  background-color: var(--basic-brown);
}

.button-bye:hover {
  background-color: var(--basic-dark-brown);
}

.button-bye:active {
  background-color: var(--basic-extra-dark-brown);
  color: var(--basic-active-button);
}

/*Sorting*/

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding-top: 33px;
  padding-bottom: 30px;
}

.sorting ul {
  margin: 0px;
  padding: 0px;
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sorting-wrapper-up-down {
  margin-left: 500px;
}

.sorting li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sorting h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  margin-left: 70px;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  margin-left: 46px;
  margin-right: 40px;
}

.sorting-up:link path,
.sorting-down:link path {
  fill: var(--basic-footer-copyright);
}

.sorting-up:hover path,
.sorting-down:hover path {
  fill: var(--basic-black);
}

.sorting-up:active path,
.sorting-down:active path  {
  fill: var(--basic-blue);
}

.current {
  color: var(--basic-blue);
}

.button-price,
.button-type {
  margin-right: 30px;
}

.button-price,
.button-type,
.button-rate {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding: 0px;
  color: var(--basic-shadow);
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-blue);
}

.button-price:link,
.button-type:link,
.button-rate:link {
  color: var(--basic-shadow);
}

.button-price:hover,
.button-type:hover,
.button-rate:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.button-price:active,
.button-type:active,
.button-rate:active {
  color: var(--basic-black);
  border: transparent;
}

.button-price:visited,
.button-type:visited,
.button-rate:visited {
  color: var(--basic-blue);
}

/* Container */

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px var(--basic-shadow);
}

/* Filters */

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}

.filter-option {
  padding-bottom: 25px;
}

.filter-option label {
  padding-left: 40px;
  cursor: pointer;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  display: block;
  position: absolute;
  pointer-events: none;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox_off.svg);
}

.check-input:checked + .check-box {
  width: 27px;
  background-image: url(../img/checkbox_on.svg);
}

/*
.check-input:disabled + .check-box {
  background-image: url(../img/checkbox_off_disabled.svg);
}
.check-input:checked:disabled + .check-box {
  background-image: url(../img/checkbox_on_disabled.svg);
}
*/


.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 70px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  background-image: url("../img/catalog/background_catalog.png");
}

.infrastructure,
.type-of-house {
  text-align: left;
  border: none;
  margin: 0px;
  padding: 0px;
}

.infrastructure legend,
.type-of-house legend {
  padding-bottom: 23px;
}

.type-of-house{
  margin-left: 120px;
  width: 130px;
}

.by-the-day {
  grid-column: 3 / -1;
  text-align: left;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* filter-range */

.filter-range {
  width: 320px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-left: 360px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-active-button);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--basic-range-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-range-toggle-shadow);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.4);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

/* Catalog */

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  height: 150px;
}

.catalog-item img {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 258px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.catalog-item-wrapper p {
  margin: 0px;
  padding: 0px;
}

.catalog-item h3 {
  margin: 0px;
  padding: 0px;
}

.rate-wrapper {
  display: block;
  width: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 70px;
}

.catalog-list li {
  border-bottom: 1px solid var(--basic-border);
}

.catalog-list li:first-child {
  border-top: 1px solid var(--basic-border);
}

.star {
  content: "";
  display: flex;
  background-position: center right;
  height: 17px;
  position: relative;
  margin-top: 27px;
  margin-bottom: 48px;
  background-image: url("../img/catalog/star.svg");
  align-items: flex-end;
}

.star-four {
  background-repeat: space;
  width: 91px;
}

.star-three {
  background-repeat: space;
  width: 66px;
}

.star-two {
  background-repeat: space;
  width: 42px;
}

.rate span {
  margin: 0px;
  padding: 0px;
}

.rate {
  display: block;
  background-color: var(--basic-extra-light);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 110px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px 2px;
  font-weight: normal;
  align-items: center;
}

.catalog-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item-price:first-child {
  padding-left: 35px;
}

.catalog-item-price:nth-child(2) {
  padding-left: 100px;
}

.catalog-item-price:last-child {
  padding-left: 20px;
}

.catalog-item-price,
.catalog-category {
  width: 107px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-item-title {
  font: inherit;
}

.catalog-item-title:hover {
  color: var(--basic-blue);
}

.catalog-item-title:focus {
  color: var(--basic-black);
}

.catalog-item-title:active {
  color: var(--basic-black);
  opacity: 30%;
}

.catalog-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  position: relative;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: var(--basic-white);
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(2, 230px) 1fr repeat(2, 230px);
  grid-column: 1 / -1;
  text-align: center;
  padding: 0 72px;
  margin: 0px;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation li {
  padding: 15px 0;
}

.site-navigation li:nth-child(3) {
  grid-column-start: 4;
}

.site-navigation li:nth-child(-n + 2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation-current a:not([href]) {
  color: var(--basic-blue);
}

.site-navigation a:link {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

/* Features */

.features {
  padding-top: 20px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

/* .feature-item {
  padding-bottom: 54px;
  padding-top: 47px;
  padding-right: 49px;
  padding-left: 49px;
} */

.features h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.features p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 50px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.feature-item--image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

.wrapper {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.wrapper h3 {
  font-size: 21px;
}

.wrapper p {
  font-weight: normal;
  margin: 0px;
  padding: 20px;
}

.wrapper span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.wrapper--city {
  grid-column: 1 / 2;
  grid-row-start: 1;
  padding: 28px;
}

.wrapper--bridge {
  padding: 28px;
}

.feature-item--city img {
  grid-column: 2 / span 2;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  grid-row-start: 2;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0px;
  padding: 0px;
}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.advantages li {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 21px;
}

.advantages h3::before {
  content: "";
  display: block;
  width: 75px;
  height: 77px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  margin-bottom: 26px;
}

.advantages-house h3::before {
  background-image: url("../img/icon_house.svg");
}

.advantages-food h3::before {
  background-image: url("../img/icon_food.svg");
}

.advantages-souvenirs h3::before {
  background-image: url("../img/icon_souvenirs.svg");
}

.feature-item--city {
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
}

.wrapper--bridge {
  grid-column: 3 / -1;
}

.feature-item--bridge img {
  grid-column: 1 / 3;
}

.blue-bc {
  background-color: var(--basic-blue);
}

.blue-bc {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.blue-bc ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.gray-bc h3 {
  margin: 0px;
  padding-bottom: 25px;
}

.gray-bc {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-top: 47px;
}

.modal-button {
  width: 568px;
  height: 86px;
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}

.modal-button:link {
  background-color: var(--basic-brown);
}

.modal-button:hover {
  background-color: var(--basic-dark-brown);
}

.modal-button:active {
  background-color: var(--basic-extra-dark-brown);
  color:  var(--basic-active-button);
}

.modal-button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-brown);
}

/* Appointment */

.appointment {
  position: relative;
}

.appointment h2 {
  margin: 0px;
  padding-top: 65px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 24px;
}

.appointment-info {
  margin: 0;
  padding-bottom: 45px;
}

.appointment-form {
  box-sizing: border-box;
  min-width: 568px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-shadow-appointment);
  padding: 55px;
}

.appointment-item {
  margin: 0;
  position: relative;
  align-items: center;
}

.appointment-item label {
  margin: 0px;
  margin-right: 15px;
  padding: 0px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

input::-webkit-input-placeholder {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

input::-moz-placeholder {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

input::placeholder {
  color: var(--basic-black);
  font-weight: bold;
  text-transform: uppercase;
}

.date-arrival,
.date-departure {
  display: flex;
  align-content: stretch;
  padding-bottom: 29px;
}

.adult-children-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adult,
.children  {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.children  {
  padding-right: 15px;
}

.modal-arrival,
.modal-calender {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
}

.modal-arrival:link path,
.modal-calender:link path {
  fill: var(--basic-footer-copyright);
}

.modal-arrival:hover path,
.modal-calender:hover path {
  fill: var(--basic-black);
}

.modal-arrival:active path,
.modal-calender:active path {
  fill: var(--basic-blue);
}

.adult label {
  margin-right: 35px;
}

.children label {
  margin-right: 35px;
}

.plus:link path,
.minus:link rect {
  fill: var(--basic-footer-copyright);
}

.plus:hover path,
.minus:hover rect {
  fill: var(--basic-black);
}

.plus:active path,
.minus:active rect  {
  fill: var(--basic-blue);
}

.appointment-item input {
  display: flex;
  width: 346px;
  font: inherit;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  border: none;
  box-sizing: border-box;
  font: inherit;
  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-border);
}

.appointment-item input:link {
  background-color: var(--basic-extra-light);
}
.appointment-item input:hover {
  background-color: var(--basic-extra-gray);
}
.appointment-item input:focus {
  background-color: var(--basic-white);
}

.adult-children-wrapper input,
.adult-children-wrapper button {
  width: 38px;
  height: 36px;
  border: none;
}

.submit {
  width: 458px;
  height: 58px;
  margin-right: 0;
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.submit:link {
  background-color: var(--basic-blue);
}

.submit:hover {
  background-color: var(--basic-dark-blue);
}

.submit:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--basic-active-button);
}

.appointment-item input:focus {
  border-color: var(--basic-white);
}

.main-map {
  background-color: var(--basic-extra-light);
}

/* Main footer */

.main-footer {
  display: flex;
  margin: 0px;
  padding: 0;
  border: none;
  justify-content: space-between;
  position: relative;
  background-color: var(--basic-main-footer);
}

.footer-first-page {
  margin-top: -120px;
}

.footer-contacts p {
  margin: 0px;
  padding: 0px;
}

.footer-contacts h2 {
  margin: 0px;
  padding-bottom: 10px;
}

.footer-contacts {
  width: 200px;
  padding-top: 23px;
  padding-bottom: 36px;
  padding-left: 134px;
}

.footer-phone {
  padding-top: 10px;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding-top: 32px;
  padding-left: 135px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 204px;
  margin: 0 131px;
  padding: 0px;
  align-items: center;
}

/* Social button */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
  text-decoration: none;
}

.social-button:link {
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-dark-blue);
  fill: var(--basic-active-button);
}

.social-button:active path {
  fill: var(--basic-active-button);
}

.footer-copyright:link path {
  fill: var(--basic-black);
}

.footer-copyright:hover path {
  fill: var(--basic-blue);
}

.footer-copyright:active path {
  fill: var(--basic-footer-copyright);
}
