/* Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-light: #F2F2F2;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-dark-brown: #503E33;
  --basic-gray: #EEEEEE;
  --basic-extra-gray: #EBEBEB;


}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  background-image: url("img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}
/* Grid for pages */

.page-catalog {
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog .page-title {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Main header */

.inner-page .main-header {
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  margin: 0px;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}

/*.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-blue);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}*/

.button-detail {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-bye {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-detail:link {
  background-color: var(--basic-blue);
}

.button-detail:hover {
  background-color: var(--basic-dark-blue);
}

.button-detail:active {
  background-color: var(--basic-extra-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-bye:link {
  background-color: var(--basic-brown);
}

.button-bye:hover {
  background-color: var(--basic-dark-brown);
}

.button-bye:active {
  background-color: var(--basic-extra-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*Sorting*/

.sorting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sorting li {
  display: inline;
  grid-column: 2 / -1;
  list-style: none;
}

.sorting h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.current {
  color: var(--basic-blue);
  text-decoration-line: underline none;
}

.button-price,
.button-type,
.button-rate {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration-line: underline;
}


.button-price:hover,
.button-type:hover,
.button-rate:hover {
  color: var(--basic-blue);
  text-decoration-line: underline;
}

.button-price:active,
.button-type:active,
.button-rate:active {
  color: var(--basic-black);
  text-decoration-line: underline;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Filters */

.filter legend {

  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  line-height: 14px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter {
  color: var(--basic-white);
  background-image: url("../img/catalog/background_catalog.png");
}

.infrastructure,
.type-of-house {
  text-align: left;
}

.by-the-day {
  grid-column: 3 / -1;
  text-align: right;
}

/* Catalog */

/*
.catalog h2 {
  grid-column: 1 / -1;
}
*/

.catalog-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-item img {
  grid-column: 1 / 2;
}

.catalog-category,
.catalog-item-price {
  display: grid;
}

.catalog-item-title,
.catalog-category,
.catalog-item-price {
  grid-column: 2 / 3;
  text-align: left;
}


.rate {
 grid-column: 3 / -1;
}

.catalog-list {
  list-style: none;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item-price,
.catalog-category {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-item-title:hover {
  color: var(--basic-blue);
}

.catalog-item-title:focus {
  color: var(--basic-black);
}

.catalog-item-title:active {
  color: var(--basic-black);
  opacity: 30%;
}

.catalog-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: var(--basic-white);
}

.main-header-bar {
  height: 56px;
  background-color: var(--basic-white);
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(2, 230px) 1fr repeat(2, 230px); /*Изменено мной*/
  grid-column: 1 / -1;
  text-align: center;
  padding: 0 72px;
  margin: 0px;
  list-style: none;
}

/*Добавлено мной*/
.site-navigation li {
  padding: 15px 0;
}

/*Добавлено мной*/
.site-navigation li:nth-child(3) {
  grid-column-start: 4;
}

/*Добавлено мной*/
.site-navigation li:nth-child(-n + 2) {
  text-align: left;
}

/*Добавлено мной*/
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation-current a:not([href]) {
  color: var(--basic-blue);
}

.site-navigation a:link {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:focus {
  color: var(--basic-brown);
}

/* Features */

.features {
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.feature-item--image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
}

/*.wrapper {
  grid-template-columns: repeat(3, 1fr);
}*/

.wrapper--city {
  grid-column: 1 / 2;
  grid-row-start: 1;
}

.feature-item--city img {
  grid-column: 2 / span 2;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  grid-row-start: 2;
  color: var(--basic-black);
  background-color: var(--basic-white);
}



.feature-item--city {
  grid-template-rows: repeat(2, min-content);
}

.wrapper--bridge {
  grid-column: 3 / -1;
}

.feature-item--bridge img {
  grid-column: 1 / 3;
}

.blue-bc {
  background-color: var(--basic-blue);
}

.gray-bc {
  background-color: var(--basic-gray);
}

.blue-bc {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.blue-bc ul {
  list-style: none;
}

.gray-bc {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.modal-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
}

.modal-button:link {
  background-color: var(--basic-brown);
}

.modal-button:hover {
  background-color: var(--basic-dark-brown);
}

.modal-button:active {
  background-color: var(--basic-extra-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

.modal-button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-brown);
}

/* Appointment */

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
}

.appointment-item input {
  font: inherit;
  background-color: var(--basic-neutral);
}

.appointment-item input:focus {
  border-color: var(--basic-white);
}

#appointment-date-arrival {
  background-color: var(--basic-extra-light);
}

#appointment-date-arrival:hover {
  background-color: var(--basic-extra-gray);
}

#appointment-date-departure {
  background-color: var(--basic-extra-light);
}

#appointment-date-departure:hover {
  background-color: var(--basic-extra-gray);
}

#appointment-adult {
  background-color: var(--basic-extra-light);
}

#appointment-date-adult:hover {
  background-color: var(--basic-extra-gray);
}

#appointment-children {
  background-color: var(--basic-extra-light);
}

#appointment-date-children:hover {
  background-color: var(--basic-extra-gray);
}

/* Main footer */

.main-footer {
  display: flex;
  padding: 60px 0;
  margin-top: 65px;
  margin-bottom: 65px;
  border: none;
  justify-content: space-between;
  background-color: rgba(255, 255, 255 , 0.9);
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.footer-contacts {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin: 0 136px;
  width: 320px;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  width: 150px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin: 0px;
  padding: 0px;
}

.footer-social ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: baseline;
}

.footer-copyright {
  width: 204px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin: 0 131px;
}

/* Social button */

.social-button {
  color: inherit;
  text-decoration: none;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-black);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  text-decoration: none;
}
