/* Variables*/

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-extra-light: #F2F2F2;
    --basic-blue: #81B3D2;
    --basic-dark-blue: #669EC0;
    --basic-extra-dark-blue: #5496BD;
    --basic-brown: #766357;
    --basic-dark-brown: #604E43;
    --basic-extra-dark-brown: #503E33;
    --basic-gray: #EEEEEE;


  }



/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

/*
a {
  text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}

*/

.main-navigation {
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;

}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus, {
  background-color: var(--basic-extra-white);
}

/* Features */

.feature-item {
  text-align: center;
}

.feature-item li {
  list-style: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.blue-bc {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.gray-bc {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.modal-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-dark);
  border: none;
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  background-color: var(--basic-dark-brown);
}

.modal-button.disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-brown);
}

/* Appointment */

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
}

.appointment-item input {
  font: inherit;
  background-color: var(--basic-neutral);
}

.appointment-item input:focus {
  border-color: var(--basic-white);
}

/* Main footer */

.main-footer {
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

/* Social button */

.social-button {
  color: inherit;
  text-decoration: none;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-black);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  text-decoration: none;
}
